$font-main: 'Open Sans', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$color-dark: #222222;
$color-white: #ffffff;
$color-accent: #007bff; // Пример синего

$container-width: 1200px;
$container-padding: 15px;