.layoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; // Растягивает на всю высоту экрана
}

.mainContent {
  flex: 1 0 auto; // Прижимает футер к низу, если контента мало
  padding-top: 80px; // Отступ сверху, чтобы контент не залезал под фиксированный Header
}